*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
::-webkit-scrollbar
{
    width: 15px;
}
::-webkit-scrollbar-track
{
    background-color: #000000;
}
::-webkit-scrollbar-thumb
{
    background-color: #ff002b;
    border-radius: 5px;
}
body
{
    background-color: #000000;
}
header
{
    position: fixed;
    background-color: rgb(11, 11, 11);
    width: 100%;
    height: 60px;
    border: solid 1px;;
    border-top: 10px;
    border-left: 10px;
    border-right: 10px;
    border-color: rgb(85, 85, 85);
}
.container
{
    position: relative;
    width: 100%;
    height: 2000px;
    margin: 0 auto; 
    background-color: rgb(0, 0, 0);
}
.logo
{
    position: fixed;
    text-decoration: none;
    color: rgb(255, 11, 11);
    margin-top: 10px;
    margin-left: 20px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
span
{
    color: white;
}
.login
{
    position: fixed;
    text-decoration: none;
    text-transform: uppercase;
    color: #009aff;
    margin-top: 10px;
    margin-left: 85%;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    border: solid 1px;
    text-align: center;
    border-radius: 3px;
    width: 180px;
    font-weight: bold;
}
.login:hover
{
    color: white;
    border-color: royalblue;

}
.pesquisa
{
    position: fixed;
    margin-top: 10px;
    margin-left: 30%;
    text-align: center;
    align-items: center;
    height: 40px;
    width: 538px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border-radius: 10px;
    color: rgb(196, 196, 196);
    background-color: rgb(11, 11, 11) ;
    border-style: solid;
    border-color: rgb(85, 85, 85);
}
.atalhos
{
    height: 1000px;
    width: 240px;
    position: fixed;
    background-color: #121212;
    margin-top: 60px;
}
.inicio
{
    position: fixed;
    color: rgb(255, 252, 252);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-decoration: none;
    margin-top: 13px;
    margin-left: 10px;
    border: solid 3px;
    border-color: #ff0000;
    border-radius: 2px;
    height: 40px;
    line-height: 30px;
    width: 200px;
    text-align: center;
    font-weight: bold;
}
.explorar
{
    position: fixed;
    color: rgb(255, 252, 252);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-decoration: none;
    margin-top: 70px;
    margin-left: 70px;
    /* border: solid 3px; */
    /* background-color: #4e4e4e; */
    width: 200px;
    /* text-align: center; */
    border-radius: 2px;
    height: 40px;
    line-height: 40px;

}
.shorts
{
    position: fixed;
    color: rgb(255, 252, 252);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-decoration: none;
    margin-top: 130px;
    margin-left: 70px;
    /* border: solid 3px; */
    /* background-color: #4e4e4e; */
    width: 200px;
    /* text-align: center; */
    border-radius: 2px;
    height: 40px;
    line-height: 40px;
}
.inscrições
{
    position: fixed;
    color: rgb(255, 252, 252);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-decoration: none;
    margin-top: 190px;
    margin-left: 70px;
    /* border: solid 3px; */
    /* background-color: #4e4e4e; */
    width: 200px;
    /* text-align: center; */
    border-radius: 2px;
    height: 40px;
    line-height: 40px;

}


.meio
{
    position: fixed;
    color: rgb(255, 252, 252);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-decoration: none;
    margin-top: 240px;
    margin-left: 10px;
    border: solid 3px;
    border-color: #ff0000;
    /* background-color: #4e4e4e; */
    width: 200px;
    text-align: center;
    border-radius: 2px;
    height: 50px;
    line-height: 40px;
    font-weight: bold;
}
.sobrecomentarios
{
    position: absolute;
    color: white;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
    margin-top: 430px;
}
.sobredescriçao
{
    width: 200px;
    margin-top: 330px;
    margin-left: 20px;
    position: absolute;
    color: white;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}
.sobremais
{
    margin-left: 50px;
    text-decoration: none;
    color: #009aff;
}
.fim
{
    position: fixed;
    color: rgb(255, 252, 252);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-decoration: none;
    margin-top: 500px;
    margin-left: 10px;
    border: solid 3px;
    border-color: #ff0000;
    width: 200px;
    text-align: center;
    border-radius: 2px;
    height: 50px;
    line-height: 40px;
    font-weight: bold;
}
.anuncio
{
    position: absolute;
    width: 100%;
    height: 240px;
    background-image: url(./2661572.jpg);
    background-size: center;
}
.imglogo
{
    position: absolute;
    width: 70px;
    height: 70px;
    margin-top: 270px;
    margin-left: 280px;
    border-radius: 50%;
    border: solid 2px;
    border-color: #ff002b;
}
.nomecanal
{
    position: absolute;
    margin-top: 285px;
    margin-left: 380px;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
}
.subs
{
    position: absolute;
    margin-top: 320px;
    margin-left: 380px;
    color: white;
    font-weight: bold;
    color: #828282;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.iniciocanal
{
    position: absolute;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 20px;
    font-weight: bold;
    color: #ffffff;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bar
{
    position: absolute;
    width: 670px;
    height: 50px;
    border: solid 3px;
    border-color: #009aff;
    border-left: 1px;
    border-top: 1px;
    border-right: 1px;
    margin-top: 370px;
    margin-left: 270px;
}
.barra
{
    position: absolute;
    width: 95px;
    height: 50px;
    border: solid 3px;
    border-color: #ff002b;
    border-left: 1px;
    border-top: 1px;
    border-right: 1px;
    margin-top: 370px;
    margin-left: 545px;
}
.video
{
    position: absolute;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 300px;
    font-weight: bold;
    color: #ffffff;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sobre
{
    position: absolute;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 580px;
    font-weight: bold;
    color: #ffffff;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.um
{
    position: absolute;
    width: 255px;
    height: 152.42px;
    margin-top: 450px;
    margin-left: 270px;
    background-color: rgb(0, 0, 0);
    border: solid 2px;
    border-color: red;
}
.dois
{
    position: absolute;
    width: 255px;
    height: 152.42px;
    margin-top: 450px;
    margin-left: 540px;
    background-color: rgb(0, 0, 0);
    border: solid 2px;
    border-color: red;
}
.tres
{
    position: absolute;
    width: 255px;
    height: 152.42px;
    margin-top: 450px;
    margin-left: 810px;
    background-color: rgb(0, 0, 0);
    border: solid 2px;
    border-color: red;
}
.quatro
{
    position: absolute;
    width: 255px;
    height: 152.42px;
    margin-top: 450px;
    margin-left: 1080px;
    background-color: rgb(0, 0, 0);
    border: solid 2px;
    border-color: red;
}




